<h1 style="background-color: rgb(204, 204, 204); padding: 5%;">PelisApp <br>
    <h5>Esta es una aplicación de películas</h5>
</h1>
<div>
    <h2>Películas en Cartelera</h2>
</div>
<div class="card-columns">
    <div class="card">
        <img src="../../../assets/img/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg" class="card-img-top" alt="...">
    </div>
</div>
<div>
    <h2>Populares</h2>
</div>
<div class="card-columns">
    <div class="card">
        <img src="../../../assets/img/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg" class="card-img-top" alt="...">
    </div>
</div>
<div>
    <h2>Populares entre los más pequeños</h2>
</div>
<div class="card-columns">
    <div class="card">
        <img src="../../../assets/img/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg" class="card-img-top" alt="...">
    </div>
</div>