<app-navbar></app-navbar>
<div class="container main-container">
    <h1>Demos <small>Angular</small></h1>
    <hr>
    <!-- ngStyle -->
    <!-- <app-ng-style></app-ng-style> -->

    <!-- CSS -->
    <!-- <p>
        Hola desde app.component
    </p> -->
    <!-- <app-css></app-css> -->

    <!-- ngClass -->
    <!-- <app-clases></app-clases> -->

    <!-- Directivas -->
    <!-- <p [appResaltado]="'gray'">
        Directivas
    </p> -->


    <!-- ngSwitch -->
    <!-- <app-ng-switch></app-ng-switch> -->

    <!-- Rutas -->
    <router-outlet></router-outlet>
</div>