<div class="container">
    <h1> Gráficos Dinámicos <small>Angular</small></h1>
    <br>
    <div class="row">
        <div class="col">
            <button routerLink="/linea" class="btn btn-primary">Linea</button>
            <button routerLink="/barras" class="btn btn-primary">Barras</button>
            <button routerLink="/dona" class="btn btn-primary">Dona</button>
            <button routerLink="/radar" class="btn btn-primary">Radar</button>
        </div>
    </div>
    <br>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>